dump.vcd
a.out
wave.gtkw
gtkwave.gtkw
asm.hex
asm.labels

fpga/
binutils/build/

*.log
rtl/uart.txt
rtl/rtl_reg.log
rtl/rtl_uart.log
rtl/sim_reg.log
rtl/sim_uart.log
vscode_extension/fpl/node_modules/
*.log
falconOs/symbol-map.json
falconOs/uart_fpga.hex.txt
falconOs/uart_input_1.hex
falconOs/uart_input.hex
falconOs/uart.txt
falconOs/uart.txt
binutils/asm.f32
rtl/uart_input.hex
rtl/rtl_reg.log
rtl/rtl_uart.log
rtl/sim_reg.log
rtl/sim_traace.log
rtl/sim_uart.log
falconOs/myFirstTask.dis
falconOs/myFirstTask.exe
falconOs/myFirstTask.hex
falconOs/rx1.hex.txt
falconOs/asm.dis
falconOs/asm.f32
rtl/myFirstTask.exe
